[Desktop Entry]
Name=TinkerGame (Settings)
Comment=tinkergame Settings menu
Categories=Game;
Exec=tinkergame settings
Icon=tinkergame
Terminal=false
Type=Application
